@media only screen and (max-width:610px) {
    .header {
        height: 70px;
    }
    .header-wrap {
        height: 70px;
        text-align: center;
    }
    .nav-lv1 {
        display: none;
    }
    .min-nav-wrap {
        display: block;
        .nav-min-lv1 {
            display: none;
            position: fixed;
            top: 70px;
            left: 0;
            width: 100%;
            li {
                display: block;
            }
            .single-nav {
                display: block;
                &:hover {
                    border-bottom: none;
                }
            }
            &.open {
                display: block;
            }
        }
    }
    .min-nav-btn {
        @include rem-sprite($aqi-icon-lv1, 720);
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 30px;
        margin-top: -0.59rem;
    }
    .nav-min.open {
        @include rem-sprite($aqi-icon-lv3, 720);
    }
    .single-nav {
        color: #fff;
        display: block;
        line-height: 70px;
        height: 70px;
        background-color: #000;
        opacity: 0.9;
    }
    .n-products,
    .n-brand {
        display: none !important;
    }
    .nav-lv1 > li {
        border-bottom: 1px solid #4c4c4c;
    }
    .single-nav {
        &.home {
            display: none;
        }
        &.last {
            border: none;
        }
    }
    .product-mod {
        margin-bottom: 40px;
        .p-detail {
            border-right: none;
            &.b-left {
                border-right: none;
            }
        }
        .list-wrap {
            li {
                width: 100%;
                border-bottom: 1px solid #000;
            }
        }
        li {
            &.b-first {
                border-top: none;
            }
            &:last-of-type {
                border-bottom: 3px solid #000;
            }
        }
    }
    .p-show {
        &:hover {
            display: none;
        }
    }
    .video-wrap {
        margin-top: 70px;
    }
}
