@media only screen and (max-width:610px) {
    .logo {
        width: 100px;
        margin-top: 25.4px;
        margin-left: 25px;
        &:after {
            display: none;
        }
    }
    .min-nav-btn{
    	right: 25px;
    }
}
