@media only screen and (max-width:910px) {
    $nav-height: 70px;
    .header {
        height: $nav-height;
    }
    .header-wrap {
        height: $nav-height;
        text-align: center;
    }
    .logo {
        margin-top: 22px;
        margin-left: 30px;
    }
    .nav-lv1 {
        display: none;
    }
    .min-nav-wrap {
        display: block;
        text-align: center;
        .nav-min-lv1 {
            position: fixed;
            top: $nav-height;
            left: 0;
            display: none;
            width: 100%;
            li {
                display: block;
            }
            .single-nav {
                display: block;
                &:hover {
                    border-bottom-color: #2e2c2d;
                }
            }
            &.open {
                display: block;
            }
        }
    }
    .min-nav-btn {
        position: absolute;
        top: 50%;
        right: 30px;
        display: inline-block;
        margin-top: -17px;
        @include sprite($slide_nav-slide-open);
    }
    .min-nav-btn.open {
        @include sprite($slide_nav-slide-close);
    }
    .single-nav {
        line-height: $nav-height;
        display: block;
        height: $nav-height;
        opacity: .9;
        color: #fff;
        background-color: #000;
    }
    .video-wrap {
        margin-top: $nav-height - 1px;
    }
    .product-mod {
        margin-bottom: 40px;
        .list-box {
            position: static;
            height: auto;
        }
        .list-wrap {
            position: static;
            width: auto;
            margin-left: auto;
            li {
                width: 100%;
                border-bottom: 1px solid #c9c9c9;
            }
        }
        .p-detail {
            border-right: none;
            &.b-left {
                border-right: none;
            }
        }
        li {
            &.b-first {
                border-top: none;
            }
            &:last-of-type {
                border-bottom: none;
            }
        }
        .p-show {
            &:hover {
                display: none;
            }
        }
        .video-wrap {
            margin-top: $nav-height;
        }
    }
}
