@media only screen and (max-width:910px) {
    .product-mod {
        h2 {
            font-size: 50px;
        }
        .list-wrap {
            li {
                width: 50%;
            }
        }
        .p-detail {
            &.b-left {
                border-right: 1px solid #c9c9c9;
            }
        }
    }
}
