@media only screen and (min-width:610px) {
    .nav-wrap {
        height: 84px;
    }
    .main-nav {
        max-width: 1200px;
        height: 84px;
        text-align: right;
        .single-nav {
            color: #fdfbfb;
            display: inline-block;
            line-height: 84px;
            height: 83px;
            border-bottom: 1px solid #2e2c2d;
            &:hover {
                border-bottom: 1px solid #fdfbfb;
            }
        }
        .single-nav,
        li {
            padding: 0 20px;
        }
    }
    .nav-logo {
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -0.59rem;
        left: 40px;
    }
    .nav-mask {
        position: fixed;
        top: 84px;
        width: 100%;
        left: 0;
        background-color: #fff;
        display: none;
        height: 100px;
        line-height: 100px;
        z-index: -1;
    }
    .h-nav:hover {
        .nav-mask {
            display: block;
            opacity: 0.76;
        }
        .n-products,
        .n-brand {
            display: block;
        }
    }
    .n-products {
        margin-right: 100px;
    }
    .n-brand {
        margin-right: 50px;
    }
    .n-products,
    .n-brand {
        position: absolute;
        line-height: 100px;
        right: 0;
        display: none; /////
        li {
            display: inline-block;
            color: #706e6e;
        }
    }
    .product-mod .list-wrap {
        li {
            margin: 30px 0;
        }
    }
    .product-mod .p-detail {
        margin-bottom: 26px;
    }
    .product-mod {
        margin-bottom: 120px;
    }
    .video {
        margin-top: 84px;
    }
}

@media only screen and (max-width:910px) and (min-width:610px) {
    body {
        background-color: #ccc;
    }
    .product-mod {
        .list-wrap {
            li {
                width: 50%;
            }
        }
    }
    .product-mod .p-detail.b-left {
        border-right: 1px solid #c9c9c9;
    }
    .product-mod .b-top {
        padding-bottom: 30px;
        padding-top: 30px;
        border-bottom: 3px solid #000;
    }
}

@media only screen and (max-width:910px) {
    .product-mod h2 {
        font-size: 50px;
    }
}
