@media only screen and (min-width:910px) {
    body {
        background-color: #fff;
    }

    .product-mod {
        .list-wrap {
            li {
                width: 25%;
            }
        }
    }

    .p-detail {
        border-right: 1px solid #c9c9c9;
        &.first {
            border-left: 1px solid #c9c9c9;
        }
    }
}