extends ./layout/layout
append head
	title Blank ME
	link(rel='stylesheet',href='css/style.css')
block content


	//- banner
	div.banner.pc(style="background-image:url(./images/banner-pc.jpg)")
	div.banner.mob(style="background-image:url(./images/banner-mob.jpg)")


	//- muted
	//- loop="loop"
	//- 视频
	div.video-wrap
		div.video-mask(style="background-image:url(./images/video-mask.png)")
		a(href="javascript:;" class="play")
		video.video
			source(src="source/video.mp4" type="video/mp4")

	//- slogan
	div.slogan-mod
		div.slogan-fix
			span(style="background-image:url(./images/f-text.png)")

	//- 产品展示
	div.product-mod#jump
		div.product-title
		ul.list-box
			li
				div.pro-wrap.clearfix
					a.left.img-wrap(href="javascript:;"): img(src='./images/pic1x2.png')
					div.right.mesg
						div.clearfix
							h2 ONE STEP CLEANSING PAD
							a(href="cleansing.html") VIEW  MORE
						p The  cleansing cream with smooth and milky texture dissolves every trace of makeup with the two-sided cleansing pad.The soothing and moisturizing Green Pure Complex make the skin look silky and soft after cleansing.
						p.k 풍부한 액상의 양면 패드로 메이크업을 말끔하게 지워주며, 그린 퓨어 콤플렉스의 피부 진정 및 보습 효과로 클렌징 후에도 피부의 촉촉함을 유지하여 당기지 않게 해줍니다.

			li
				div.pro-wrap.clearfix
					a.h.right.img-wrap(href="javascript:;"): img(src='./images/pic2x2.png')
					div.left.mesg
						div.clearfix
							h2 WATER SHINE PRIMER
							a(href="primer.html") VIEW  MORE
						p Packed with the active ingredient of pearl, the Water shine primer liquid foundation refines the skin with natural glow and tone. The rich moisture of the Natural Barrier Complex enchances the resilience and radiance of the skin after makeup that lasts all day long.
						p.k 진주 빛 펄이 볼륨감 있고 자연스럽게 빛나는 피부결과 톤을 연출하며, 내추럴 배리어 콤플렉스의 풍부한 수분감이 메이크업 후에도 오랫동안 지속되는 물광 피부를 연출합니다.

			li
				div.pro-wrap.clearfix
					a.h.left.img-wrap(href="javascript:;"): img(src='./images/pic3x2.png')
					div.right.mesg
						div.clearfix
							h2 ESSENCEMESH FOUNDATION
							a(href="foundation.html") VIEW  MORE
						p The Essencemesh foundation creamy foundation smoothly blends into the skin, creating naturally radiant complexion. Infused with Snow Queen essence, it delivers rich nutritional sensation and locks the moisture of the skin that lasts throughout the day.
						p.k 마이크로 메쉬의 미세홀을 통과한 크림 타입 파운데이션이 피부에 매끈하게 밀착되어 자연스럽게 빛나는 광채를 연출하며, 스노우 퀸 에센스가 풍부한 영양감을 부여하여 오랜 시간 촉촉한 피부를 유지시켜줍니다.

block script
	//- script(src='//code.jquery.com/jquery-1.11.0.min.js')
	script.
		window.jQuery || document.write('<script src="./js/jquery-1.9.1.js" type="text/javascript"><\/script>');
	script(src='./js/index.js')