extends ./layout/layout
append head
	title Blank ME
	link(rel='stylesheet',href='css/style.css')
block content
	//- 导航
	div.header
		div.header-wrap
			a.logo(href="#"): span
			ul.nav.nav-lv1
				li: a.single-nav.home(href="#") HOME
				li
					a.single-nav(href="#") PRODUCTS
					div.nav-mask
					ul.nav-lv2.n-products
						li: a(href="#") nav11111
						li: a(href="#") nav2222
						li: a(href="#") nav3333
				li
					a.single-nav(href="#") BRAND
					div.nav-mask
					ul.nav-lv2.n-brand
						li: a(href="#") nav11111
						li: a(href="#") nav2222
						li: a(href="#") nav3333
				li
					a.single-nav.last(href="#") CONTANT
					div.n-contant
			div.min-nav-wrap
				a.min-nav-btn.J_nav_btn(href="javascript:;")
				ul.nav.nav-min-lv1
					li: a.single-nav(href="#") PRODUCTS
					li: a.single-nav(href="#") BRAND
					li: a.single-nav.last(href="#") CONTANT

	//- 视频
	div.video-wrap
		video(autoplay="autoplay" loop="loop" muted)
			source(src="source/WeChatSight77.mp4" type="video/mp4")
	div.slogan-mod
		div.slogan-fix
			h3 find ME&ensp;fill ME&ensp;feel ME
			h2 'Blank' ME
			p Find my beauty identity
			p Fill my beauty style
			p Feel the beautiful days

	//- 产品展示
	div.product-mod
		div.product-title
		ul.list-wrap
			li.b-first
				div.p-detail.first.b-left
					img(src='lv1.png')
					div.p-show
						div.p-mask
						div.p-text
							p 第二个商品介绍前面7个字现在17.个字第二个商品介绍前面7个字现在34.个字现在29个字
							a.viewmore(href="#") VIEW MORE
				label POEDER
			li
				div.p-detail
					img(src='lv1.png')
					div.p-show
						div.p-mask
						div.p-text
							p 第二个商品介绍前面7个字现在17.个字第二个商品介绍前面7个字现在34.个字现在29个字
							a.viewmore(href="#") VIEW MORE
				label MASCARA
			li
				div.p-detail.b-left
					img(src='lv1.png')
					div.p-show
						div.p-mask
						div.p-text
							p 第二个商品介绍前面7个字现在17.个字第二个商品介绍前面7个字现在34.个字现在29个字
							a.viewmore(href="#") VIEW MORE
				label POEDER
			li
				div.p-detail
					img(src='lv1.png')
					div.p-show
						div.p-mask
						div.p-text
							p 第二个商品介绍前面7个字现在17.个字第二个商品介绍前面7个字现在34.个字现在29个字
							a.viewmore(href="#") VIEW MORE
				label MASCARA

block script
	script(src='//code.jquery.com/jquery-1.11.0.min.js')
	script.
		window.jQuery || document.write('<script src="./js/jquery-1.9.1.js" type="text/javascript"><\/script>');
	script(src='./js/index.js')