extends ./layout/layout
append head
	title learn gulp
	link(rel='stylesheet',href='css/style.css')
block content
	//- 导航
	div.nav-wrap
		div.main-nav
			a.nav-logo(href="#")
			a.single-nav.home(href="#") HOME
			a.single-nav.h-nav.min-toggle(href="#") PRODUCTS
				div.nav-mask
				ul.n-products
					li nav11111
					li nav2222
					li nav3333
			a.single-nav.h-nav.min-toggle(href="#") BRAND
				div.nav-mask
				ul.n-brand
					li nav11111
					li nav2222
					li nav3333
			a.single-nav.h-nav.last.min-toggle(href="#") CONTANT
				div.n-contant
			a.nav-min(href="javascript:;")

	//- 视频
	div.video
		video(controls="controls")
			source(src="source/WeChatSight77.mp4" type="video/mp4")
	div.slogan-mod
		div.slogan-fix
			h3 find ME&nbsp;&nbsp;fill ME&nbsp;&nbsp;feel ME
			h2 'Blank' ME
			p Find my beauty identity
			p Fill my beauty style
			p Feel the beautiful days

	//- 产品展示
	div.product-mod
		h2 'PRODUCTS'
		ul.list-wrap
			li.b-top.b-first
				div.p-detail.first.b-left
					img(src='lv1.png')
					div.p-show
						div.p-mask
						div.p-text
							p 第二个商品介绍前面7个字现在17.个字第二个商品介绍前面7个字现在34.个字现在29个字
							a.viewmore(href="#") VIEW MORE
				label POEDER
			li.b-top
				div.p-detail
					img(src='lv1.png')
					div.p-show
						div.p-mask
						div.p-text
							p 第二个商品介绍前面7个字现在17.个字第二个商品介绍前面7个字现在34.个字现在29个字
							a.viewmore(href="#") VIEW MORE
				label MASCARA
			li
				div.p-detail.b-left
					img(src='lv1.png')
					div.p-show
						div.p-mask
						div.p-text
							p 第二个商品介绍前面7个字现在17.个字第二个商品介绍前面7个字现在34.个字现在29个字
							a.viewmore(href="#") VIEW MORE
				label POEDER
			li
				div.p-detail
					img(src='lv1.png')
					div.p-show
						div.p-mask
						div.p-text
							p 第二个商品介绍前面7个字现在17.个字第二个商品介绍前面7个字现在34.个字现在29个字
							a.viewmore(href="#") VIEW MORE
				label MASCARA

block script
	script(src='//code.jquery.com/jquery-1.11.0.min.js')
	script.
		window.jQuery || document.write('<script src="./js/jquery-1.9.1.js" type="text/javascript"><\/script>');
	script(src='./js/index.js')