extends ./layout/layout
append head
	title Blank ME
	link(rel='stylesheet',href='css/style.css')
block content

	//- 详情页
	div.detail-page
		div: img(src='./images/primer/primer_01.jpg')
		div: img(src='./images/primer/primer_02.jpg')
		div: img(src='./images/primer/primer_03.jpg')
		div: img(src='./images/primer/primer_04.jpg')
		div: img(src='./images/primer/primer_05.jpg')
		div: img(src='./images/primer/primer_06.jpg')
		div: img(src='./images/primer/primer_07.jpg')
		div: img(src='./images/primer/primer_08.jpg')
		div: img(src='./images/primer/primer_09.jpg')


block script
	//- script(src='//code.jquery.com/jquery-1.11.0.min.js')
	script.
		window.jQuery || document.write('<script src="./js/jquery-1.9.1.js" type="text/javascript"><\/script>');
	script(src='./js/index.js')