// $rem-base:720;
$reset: true;
// $Response:true;
@import '../../../_source/_function/mobile-mixin';
// 雪碧图
@import './sprites/slide_nav';
// 字体
@import 'compontents/fonts';

body {
    font-family: Avenir Next, sans-serif;
    background-color: #fff;
}
// common
$nav-height: 84px;

// header
.header {
    position: fixed;
    z-index: 11;
    top: 0;
    width: 100%;
    height: $nav-height;
    background-color: #2e2c2d;
}

.header-wrap {
    position: relative;
    max-width: 1200px;
    height: $nav-height;
    margin: 0 auto;
    text-align: right;
    li {
        display: inline-block;
    }
    .single-nav {
        line-height: $nav-height;
        position: relative;
        display: inline-block;
        height: 83px;
        color: #fdfbfb;
        .line {
            position: absolute;
            top: 65px;
            left: 50%;
            display: block;
            width: 0;
            height: 1px;
            transition: all .2s ease-out;
            opacity: 0;
            background-color: #fdfbfb;
        }
        &:hover {
            .line {
                left: 25%;
                width: 50%;
                opacity: 1;
            }
        }
    }
}

.logo {
    float: left;
    width: 130px;
    margin-top: 30px;
    margin-left: 40px;
    span {
        display: block;
        height: 0;
        padding-top: percentage(25/130);
        background-image: url(../images/logo.png);
        background-size: 100%;
    }
    &:after {
        position: fixed;
        top: 0;
        display: block;
        width: 171px;
        height: 64px;
        margin-left: 170px;
        content: '';
        background-image: url(../images/logo-back.png);
        background-size: 100%;
    }
}

.nav {
    font-family: Avenir Next, sans-serif;
    font-size: 18px;
    a {
        padding: 0 20px;
    }
    @at-root {
        .nav-lv1 {
            & > li {
                &:hover {
                    .nav-mask {
                        display: block;
                        opacity: .95;
                    }
                    .n-products, .n-brand {
                        display: block;
                    }
                }
            }
        }
    }
}

.nav-mask {
    line-height: 100px;
    position: fixed;
    z-index: -1;
    top: $nav-height;
    left: 0;
    display: none;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.min-nav-wrap {
    display: none;
}

.n-products {
    margin-right: 100px;
}

.n-brand {
    margin-right: 50px;
}

.n-products, .n-brand {
    line-height: 100px;
    position: absolute;
    right: 0;
    display: none;
    li {
        display: inline-block;
    }
    a {
        color: #706e6e;
    }
}

// video
.video-wrap {
    position: relative;
    overflow: hidden;
    margin-top: $nav-height - 1px;
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 100%;
        transform: translate(-50%, -50%);
    }
}

.slogan-mod {
    line-height: 2;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    p {
        font-size: 12px;
    }
}

.slogan-fix {
    margin: 0 70px;
    padding: 20px 0 10px;
    border: 3px solid #000;
}

// 产品列表
.product-mod {
    margin-bottom: 120px;
    padding-bottom: 16px;
    text-align: center;
    background: url(../images/index-border.png) no-repeat center bottom;
    .product-title {
        width: 235px;
        height: 40px;
        margin: 0 auto 32px;
        background-image: url(../images/title-products.png);
    }
    .list-box {
        position: relative;
        height: 400px;
    }
    .list-wrap {
        position: absolute;
        top: 40px;
        left: 50%;
        overflow: hidden;
        width: 1200px;
        margin-left: -600px;
        padding-top: 16px;
        background: url(../images/index-border.png) no-repeat center top;
        li {
            float: left;
            width: 25%;
            margin-top: 10px;
            // border-bottom: 1px solid #000;
            padding: 30px 0;
        }
        label {
            font-size: 16px;
            color: #131212;
        }
    }
    .p-detail {
        position: relative;
        height: 234px;
        margin-bottom: 26px;
        border-right: 1px solid #c9c9c9;
        &.first {
            border-left: 1px solid #c9c9c9;
        }
    }
    .p-show {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100%;
        height: 234px;
        transition: opacity .2s ease-in-out;
        opacity: 0;
        &:hover {
            opacity: 1;
            // .viewmore {
            //     line-height: 46px;
            // }
        }
    }
    .p-mask {
        height: 100%;
        opacity: .5;
        background-color: #000;
    }
    .p-text {
        position: absolute;
        top: 0;
        p {
            font-size: 16px;
            line-height: 1.6;
            height: 96px;
            padding: 30px;
            text-align: left;
            color: #eeeded;
        }
    }
    .viewmore {
        font-size: 14px;
        line-height: 46px;
        display: inline-block;
        width: 124px;
        height: 46px;
        margin-bottom: 26px;
        text-align: center;
        color: #fff;
        border: 1px #eeeded solid;
        border-radius: 2px;
        // transition: line-height 0.5s ease-in-out;
    }
}

// 响应式其它宽度
@import 'compontents/<910';
@import 'compontents/<610';

// 页脚
.footer {
    font-family: Avenir Next, sans-serif;
    font-size: 18px;
    padding: 40px;
    text-align: center;
    color: #b8b8b9;
    background-color: #2e2d2d;
}
