// $rem-base:720;
$reset:true;
// $Response:true;
@import "../../../_source/_function/mobile-mixin";
// 雪碧图
@import "./sprites/cur";
@import "./sprites/cur1";
@import "./sprites/aqi-icon";
// 字体
@import "compontents/fonts";
body {
    background-color: #fff;
}

.header {
    background-color: #2e2c2d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    height: 84px;
}

.header-wrap {
    margin: 0 auto;
    position: relative;
    max-width: 1200px;
    height: 84px;
    text-align: right;
    li {
        display: inline-block;
    }
    .single-nav {
        color: #fdfbfb;
        display: inline-block;
        line-height: 84px;
        height: 83px;
        border-bottom: 1px solid #2e2c2d;
        &:hover {
            border-bottom: 1px solid #fdfbfb;
        }
    }
}

.logo {
    @include rem-sprite($aqi-icon-lv2, 720);
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -0.59rem;
    left: 40px;
}

.nav {
    font-size: 18px;
    font-family: Avenir Next, sans-serif;
    a {
        padding: 0 20px;
    }
    @at-root {
        .nav-lv1 {
            & > li {
                &:hover {
                    .nav-mask {
                        display: block;
                        opacity: 0.76;
                    }
                    .n-products,
                    .n-brand {
                        display: block;
                    }
                }
            }
        }
    }
}

.nav-mask {
    position: fixed;
    top: 84px;
    width: 100%;
    left: 0;
    background-color: #fff;
    display: none;
    height: 100px;
    line-height: 100px;
    z-index: -1;
}

.min-nav-wrap {
    display: none;
}

.n-products {
    margin-right: 100px;
}

.n-brand {
    margin-right: 50px;
}

.n-products,
.n-brand {
    position: absolute;
    line-height: 100px;
    right: 0;
    display: none;
    li {
        display: inline-block;
    }
    a {
        color: #706e6e;
    }
}

.nav-min {
    display: none;
}

.video-wrap {
    margin-top: 84px;
    video {
        width: 100%;
    }
}

.slogan-mod {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    line-height: 2;
    p {
        font-size: 12px;
    }
}

.slogan-fix {
    margin: 0 70px;
    padding: 20px 0 10px;
    border: 3px solid #000;
}

.product-mod {
    text-align: center;
    margin-bottom: 120px;
    h2 {
        margin-bottom: 32px;
    }
    .list-wrap {
        border-top: 3px solid #000;
        overflow: hidden;
        margin: 0 auto;
        max-width: 1200px;
        li {
            float: left;
            margin-top: 10px;
            border-bottom: 3px solid #000;
            padding: 30px 0;
            width: 25%;
        }
        label {
            font-size: 16px;
            color: #131212;
        }
    }
    .p-detail {
        height: 234px;
        position: relative;
        margin-bottom: 26px;
        border-right: 1px solid #c9c9c9;
        &.first {
            border-left: 1px solid #c9c9c9;
        }
    }
    .p-show {
        z-index: 9;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        height: 234px;
        transition: opacity 0.2s ease-in-out;
        &:hover {
            opacity: 1;
            .viewmore {
                line-height: 46px;
            }
        }
    }
    .p-mask {
        background-color: #000;
        opacity: 0.5;
        height: 100%;
    }
    .p-text {
        position: absolute;
        top: 0;
        p {
            font-size: 16px;
            text-align: left;
            line-height: 1.6;
            color: #eeeded;
            padding: 30px;
            height: 96px;
        }
    }
    .viewmore {
        width: 124px;
        height: 46px;
        line-height: 6px;
        border: 2px #eeeded solid;
        font-size: 14px;
        text-align: center;
        color: #fff;
        display: inline-block;
        border-radius: 6px;
        margin-bottom: 26px;
        transition: line-height 0.5s ease-in-out;
    }
}

// 响应式其它宽度
@import "compontents/<910";
@import "compontents/<610";
.footer {
    padding: 40px;
    font-size: 18px;
    color: #b8b8b9;
    background-color: #2e2d2d;
    text-align: center;
    font-family: Avenir Next, sans-serif;
}
