// $rem-base:720;
$reset:true;
// $Response:true;

@import "../../../_source/_function/mobile-mixin";

// 雪碧图
@import "./sprites/cur";
@import "./sprites/cur1";
@import "./sprites/aqi-icon";

// 字体
@import "compontents/fonts";

.nav-wrap {
    background-color: #2e2c2d;
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    max-width: 1200px;
    margin: 0 auto;
    height: 84px;
    line-height: 84px;
    font-size: 18px;
    text-align: right;
    font-family: Avenir Next, sans-serif;
    position: relative;
    label a {
        color: #fdfbfb;
        display: inline-block;
        padding: 0 20px;
    }
}

.video {
    height: 100px;
    background-color: navy;
    margin-top: 84px;
}

.nav-logo {
    display: inline-block;
    @include rem-sprite($aqi-icon-lv2, 720);
    position: absolute;
    top: 50%;
    margin-top: -0.59rem;
    left: 40px;
}

.sec-nav,.n-products,.n-brand,.n-contant {
    position: fixed;
    top: 84px;
    width: 100%;
}
.sec-nav .nav-mask {
    background-color: #fff;
    opacity: 0.5;
    height: 100px;
    line-height: 100px;
}

.slogan-mod {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px 0 10px;
    border: 3px solid #000;
    text-align: center;
    line-height: 2;
    p {
        font-size: 12px;
    }
}

.product-mod {
    text-align: center;
    margin-bottom: 120px;
    h2 {
        margin-bottom: 32px;
    }
    .list-wrap {
        border-top: 3px solid #000;
        border-bottom: 3px solid #000;
        overflow: hidden;
        margin: 0 auto;
        max-width: 1200px;
        li {
            float: left;
            width: 25%;
            margin: 30px 0;
        }
        label {
            font-size: 16px;
            color: #131212;
        }
    }
    .p-detail {
        height: 234px;
        border-right: 1px solid #c9c9c9;
        margin-bottom: 26px;
        position: relative;
        &.first {
            border-left: 1px solid #c9c9c9;
        }
    }
    .p-show {
        z-index: 9;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
    }
    .p-mask {
        background-color: #000;
        opacity: 0.5;
        height: 234px;
    }
    .p-text {
        position: absolute;
        top: 0;
        p {
            font-size: 16px;
            text-align: left;
            line-height: 1.6;
            color: #eeeded;
            padding: 30px;
            height: 96px;
        }
    }
    .viewmore {
        width: 124px;
        height: 46px;
        line-height: 46px;
        border: 2px #eeeded solid;
        font-size: 14px;
        text-align: center;
        color: #fff;
        display: inline-block;
        border-radius: 6px;
        margin-bottom: 26px;
    }
}

// 响应式其它宽度
@import "compontents/>910";
@import "compontents/<910";


.footer {
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    color: #b8b8b9;
    background-color: #2e2d2d;
    text-align: center;
    font-family: Avenir Next, sans-serif;
}
